@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body {
    margin: 0;
    font-family: "Comfortaa", cursive;
  }
  
.form-control{
    margin-bottom: 10px;
}

.table button{
    margin-left: 5px;
}
  
#form-button{
    margin-right: 20px;
}